body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: tomato;
  background-color: #008000 }

body{
  background:#0079BF;
  color: #4D4D4D;
  font:14px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#encabezado{
  background: #0067A3;
  height: 40px;
  padding: 5px 10px;
}

#Autenticacion{
  background: #0067A3;
  height: 40px;
  padding: 5px 10px;
  text-align: center;
  bottom: auto;
      
  
}

#encabezado > h1{
  color: #FFF;
  font-weight: bold;
  font-size: 1.2em;
  margin: 7px auto;
  text-align: center;
}



ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }

ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }

.myCheckbox input {
    display: none;
}

.myCheckbox span {
    width: 20px;
    height: 20px;
    display: block;
    background: url("link_to_image");
}

.myCheckbox input:checked + span {
    background: url("link_to_another_image");
}

.roundedTwo label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

td{
   border: 1px solid red
}


