body {
  background:#0079BF;
  color: #4D4D4D;
  font:14px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #CCC;
  padding: 80px 0px 50px 70px;
  text-decoration: none; /*decorar el nav*/
  font-weight: bold; /*poner la letra en negrita*/
  border-radius: 5px; 
 

}

#encabezado{
  background: #0067A3;
  height: 60px;
  padding: 5px 10px;
}
#encabezado > h1{

  color: #FFF;
  font-weight: bold;
  font-size: 2.2em;
  margin: 7px auto;
  text-align: center;
}

#menu{
  width: 1200px;
       border-radius: 8px;

      border: 3px solid #BDC2C9;

}